body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f4faf8;
  font-family: 'Nunito Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}

.card {
  margin-top: 32px;
  width: 600px;
  background-color: #fff;
  padding: 8px 32px 32px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}